@font-face {
    font-family: 'Work-Sans';
    src: url('WorkSans-VariableFont_wght.ttf');
}
* { 
    font-family: Work-Sans;
    margin: 0; 
    padding: 0;  
    box-sizing: border-box; 
} 
form{
    max-width: 400px;
}
 
body { 
    background: #af6a99b6; 
    font-family: ; 
} 
 
main { 
    padding: 80px 0 0; 
} 
 
.logo { 
    display: block; 
    width: 200px;
    margin: 0 auto 12px;
} 
 
.welcome-message { 
    text-align: center; 
    color: #121212; 
    font-size: 40px; 
    margin: 0 0 48px; 
} 
 
.subtitle { 
    text-align: center; 
    color: #121212; 
    font-size: 24px; 
    margin: 0 0 32px; 
} 
 
form { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    max-width: 400px; 
    margin: 0 auto; 
    gap: 18px; 
} 
 
input { 
    border-radius: 8px; 
    outline: none; 
    border: 1px solid #afb1b6; 
    padding: 15px 5px; 
    width: 100%; 
} 
 
button { 
    width: 100%; 
    background: #000000; 
    color: #ffffff; 
    border: #000000 1px solid; 
    border-radius:  12px; 
    padding: 12px 0; 
    cursor: pointer; 
    transition-duration: 200ms ; 
} 
 
button:active { 
    padding: 12px 0; 
    color: #3a2d12; 
    border: #8f7652 1px solid; 
    cursor: pointer; 
} 
 
.account { 
    font-size: 16px; 
    color: #121212; 
    margin: 0 auto; 
} 
 
.account a{ 
    font-size: 16px; 
    color: rgb(0, 0, 0); 
} 
 
label { 
    font-size: 16; 
    color: #61466b; 
    display: block; 
    margin: 8px;
} 
 
.input-with-icon { 
    position: relative; 
} 
 
.input-with-icon img{ 
    position: absolute;
    top: 42px;
    right: 12px;
    cursor: pointer;
    height: 40%;
  }